*{
	font-family: "Roboto";
  margin: 0;
	border: 0;
	padding: 0;
	color: white;
}


.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}
.wpos td img{
    width: 20px;
    height: 20px;
}
th{
	background-color: black;
	color: white;
}

.headin{
	text-align: center;
	text-decoration: none;
	color:white;
	margin: 30px;
	display: block;
	letter-spacing: 0.2em;
    line-height: 1;
}

.wpos{
	text-align: center;
}

.wpos td{
	color: #77ff21;
}

.pos{
	text-align: center;
}

.pos td{
	color: #ff7b21;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
	background-color: #77ff21;
}

.wpos:hover td{
	color: #000000;
}
